# Couchbase Configuration  
CB_CONN_STRING=couchbase://ip
CB_USERNAME=username
CB_PASSWORD=password

# Showfast API Configuration
SHOWFAST_API_URL=http://localhost:3000/api/plugins/cbperf-showfast-app/resources/
